body {
    background-image: url('Screenshot%202025-05-28%20104342.png');
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}